@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

body {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-menu-item-text {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 8px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '' !important;
  display: none !important;
}
:root {
  --swiper-navigation-color: transparent;
}
:root {
  --swiper-navigation-size: 16px;
}